body {
    /*background: #0D47A1;*/
    background: #01182c;
    color: #ffffff;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
}

#root {
    height: 100vh;
}

#app {
    height: 100vh;
}

.badge-container {
    background-color: #e67e22;
    display: flex;
    flex-direction: row;
    height: 25vh;
    justify-content: space-evenly;
}

.badge-copy-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 33%;
}

#badge-name {
    text-shadow: 0 0 0.625em #01182c;
    font-size: 2em;
    margin-top: 15%;
}

#badge-email {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

#badge-email-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
    text-shadow: 0 0 0.625em #01182c;

}

#badge-email-button:focus {
    outline: 0;
}

.hero-text {
    color: #ffffff;
    margin: .5em;
}

#profile-pic {
    border-radius: 4.688em;
    box-shadow: 0 0 0.938em #01182c;
    margin: 5% 2em 0 2em;
}

#copy-container {
    color: #ffffff;
    font-size: 1.125em;
    height: 55vh;
    overflow: scroll;
    padding: 1em 10em 0 10em;
    text-align: center;
}

.portfolio-link {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 1em #e67e22;
}

.portfolio-link > p:hover {
    color: #e67e22;
    text-shadow: 0 0 0.938em #e67e22;
    transition: all 0.2s ease;
}

#portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tech-container {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.tech-list > li {
    font-size:1.15em;
    list-style-type: disc;
    margin: 1.5em 0 1.5em 0;
    text-align: left;
}

#horizon-container {
    align-items: center;
    border-top: 0.075em solid #e67e22;
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-around;
}

.hover-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* pulse animation for section hovers */
@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 0.313em #ffffff;
    }
    50% {
        box-shadow: 0 0 1.563em #ffffff;
    }
}

.halo {
    animation: pulse 2s ease-in-out infinite;
    border: 0.063em solid #ffffff;
    border-radius: 50%;
}

.circle {
    background-color: #e67e22;
    border-radius: 50%;
    box-shadow: 0 0 0.938em #e67e22;
    height: 1.250em;
    margin: 0.313em;
    transition: all 0.2s ease-in-out;
    width: 1.250em;
}
