body {
    /*background: #0D47A1;*/
    background: #01182c;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
}

#root {
    height: 100vh;
}

#app {
    height: 100vh;
}

#copy-container {
    color: #ffffff;
    font-size: 18px;
    height: 50vh;
    padding: 0 10em;
}

.callout-card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.name-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    color: #ffffff;
    margin: .5em;
}

#profile-pic {
    margin: 2em;
}

#person-container {
    padding: 2em;
    padding: 0 2em;
    text-align: center;
}

#horizon-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#circle {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 15px #ffffff;
    height: 35px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    width: 35px;
}

#circle:hover {
    background-color: #e67e22;
    box-shadow: 0 0 30px #e67e22;
}
