body {
    background: #0D47A1;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
}

#root {
    height: 100vh;
}

#app {
    height: 100vh;
}

.callout-card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.name-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    color: #ffffff;
    margin: .5em;
}

#profile-pic {
    margin: 2em;
}

#horizon-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25%;
}

#circle {
    background-color: #ffffff;
    border: 3px solid yellow;
    border-radius: 50%;
    height: 20px;
    margin: 5px;
    width: 20px;
}
